on:
  push:
    branches:
      - main

jobs:
  jo-linux:
    name: Compile in linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Install Pyinstaller
        run: pip install -r requirements.txt 
      - name: Compile
        run: |
          cd bin
          cd linux
          pyinstaller --onefile --noconsole ../../chat.py
          rm chat.spec
          rm build/*
          rmdir build
          cp dist/chat .
          rm dist/*
          rmdir dist


        